In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis')
df_csv

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
2          3   岩手県  大正    9.0  1920.0   845540   421069   424471
3          4   宮城県  大正    9.0  1920.0   961768   485309   476459
4          5   秋田県  大正    9.0  1920.0   898537   453682   444855
..       ...   ...  ..    ...     ...      ...      ...      ...
934       43   熊本県  平成   27.0  2015.0  1786170   841046   945124
935       44   大分県  平成   27.0  2015.0  1166338   551932   614406
936       45   宮崎県  平成   27.0  2015.0  1104069   519242   584827
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [4]:
df_csv = pd.read_csv('data01.csv', encoding = 'shift-jis', names = ['area_code','area', 'GG', 'gg',  'yyyy', 'population', 'man', 'woman'])
df_csv

     area_code  area  GG  gg  yyyy  population      man    woman
0            1   北海道  大正   9  1920     2359183  1244322  1114861
1            2   青森県  大正   9  1920      756454   381293   375161
2            3   岩手県  大正   9  1920      845540   421069   424471
3            4   宮城県  大正   9  1920      961768   485309   476459
4            5   秋田県  大正   9  1920      898537   453682   444855
..         ...   ...  ..  ..   ...         ...      ...      ...
934         43   熊本県  平成  27  2015     1786170   841046   945124
935         44   大分県  平成  27  2015     1166338   551932   614406
936         45   宮崎県  平成  27  2015     1104069   519242   584827
937         46  鹿児島県  平成  27  2015     1648177   773061   875116
938         47   沖縄県  平成  27  2015     1433566   704619   728947

[939 rows x 8 columns]

In [5]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis', index_col = 1)
df_csv

       都道府県コード  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県名
北海道          1  大正    9.0  1920.0  2359183  1244322  1114861
青森県          2  大正    9.0  1920.0   756454   381293   375161
岩手県          3  大正    9.0  1920.0   845540   421069   424471
宮城県          4  大正    9.0  1920.0   961768   485309   476459
秋田県          5  大正    9.0  1920.0   898537   453682   444855
...        ...  ..    ...     ...      ...      ...      ...
熊本県         43  平成   27.0  2015.0  1786170   841046   945124
大分県         44  平成   27.0  2015.0  1166338   551932   614406
宮崎県         45  平成   27.0  2015.0  1104069   519242   584827
鹿児島県        46  平成   27.0  2015.0  1648177   773061   875116
沖縄県         47  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 7 columns]

In [6]:
type(df_csv.index)

pandas.core.indexes.base.Index

In [7]:
df_csv.dtypes

都道府県コード      int64
元号          object
和暦（年）      float64
西暦（年）      float64
人口（総数）       int64
人口（男）        int64
人口（女）        int64
dtype: object

In [8]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis', index_col = [0, 1, 2, 3, 4])
df_csv.head()

                                人口（総数）    人口（男）    人口（女）
都道府県コード 都道府県名 元号 和暦（年） 西暦（年）
1       北海道   大正 9.0   1920.0  2359183  1244322  1114861
2       青森県   大正 9.0   1920.0   756454   381293   375161
3       岩手県   大正 9.0   1920.0   845540   421069   424471
4       宮城県   大正 9.0   1920.0   961768   485309   476459
5       秋田県   大正 9.0   1920.0   898537   453682   444855

In [9]:
type(df_csv.index)

pandas.core.indexes.multi.MultiIndex

In [10]:
df_csv.dtypes

人口（総数）    int64
人口（男）     int64
人口（女）     int64
dtype: object

In [11]:
df_csv.to_csv('data_csv.csv', encoding = 'shift-jis')

In [12]:
pd.read_excel('data.xlsx')

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [13]:
pd.read_excel('data01.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,人口（総数）,人口（男）,人口（女）
2,1,北海道,大正,9,1920,2359183,1244322,1114861
3,2,青森県,大正,9,1920,756454,381293,375161
4,3,岩手県,大正,9,1920,845540,421069,424471
...,...,...,...,...,...,...,...,...
936,43,熊本県,平成,27,2015,1786170,841046,945124
937,44,大分県,平成,27,2015,1166338,551932,614406
938,45,宮崎県,平成,27,2015,1104069,519242,584827
939,46,鹿児島県,平成,27,2015,1648177,773061,875116
940,47,沖縄県,平成,27,2015,1433566,704619,728947

In [14]:
pd.read_excel('data01.xlsx', skiprows = 2)

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [15]:
pd.read_excel('data01.xlsx', skiprows = 2, header = [0])

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [16]:
pd.read_excel('data01.xlsx', skiprows = 2, header = [1])

      1   北海道  大正   9  1920  2359183  1244322  1114861
0     2   青森県  大正   9  1920   756454   381293   375161
1     3   岩手県  大正   9  1920   845540   421069   424471
2     4   宮城県  大正   9  1920   961768   485309   476459
3     5   秋田県  大正   9  1920   898537   453682   444855
4     6   山形県  大正   9  1920   968925   478328   490597
..   ..   ...  ..  ..   ...      ...      ...      ...
933  43   熊本県  平成  27  2015  1786170   841046   945124
934  44   大分県  平成  27  2015  1166338   551932   614406
935  45   宮崎県  平成  27  2015  1104069   519242   584827
936  46  鹿児島県  平成  27  2015  1648177   773061   875116
937  47   沖縄県  平成  27  2015  1433566   704619   728947

[938 rows x 8 columns]

In [17]:
pd.read_excel('data02.xlsx', header = None)

      0     1   2   3     4        5        6        7
0     1   北海道  大正   9  1920  2359183  1244322  1114861
1     2   青森県  大正   9  1920   756454   381293   375161
2     3   岩手県  大正   9  1920   845540   421069   424471
3     4   宮城県  大正   9  1920   961768   485309   476459
4     5   秋田県  大正   9  1920   898537   453682   444855
..   ..   ...  ..  ..   ...      ...      ...      ...
934  43   熊本県  平成  27  2015  1786170   841046   945124
935  44   大分県  平成  27  2015  1166338   551932   614406
936  45   宮崎県  平成  27  2015  1104069   519242   584827
937  46  鹿児島県  平成  27  2015  1648177   773061   875116
938  47   沖縄県  平成  27  2015  1433566   704619   728947

[939 rows x 8 columns]

In [18]:
pd.read_excel('data03.xlsx', header = [0, 1])

             地域      羽田                 成田                 千歳
            年月日 平均気温(℃) 降水量の合計(mm) 平均気温(℃) 降水量の合計(mm) 平均気温(℃) 降水量の合計(mm)
0      2019/1/1     6.8        0.0     2.0        0.0    -4.7        0.0
1      2019/1/2     7.3        0.0     3.9        0.0    -6.9        0.0
2      2019/1/3     6.1        0.0     2.3        0.0    -7.4        0.0
3      2019/1/4     6.5        0.0     2.2        0.0    -2.6        0.0
4      2019/1/5     8.3        0.0     6.2        0.0    -3.3        4.5
..          ...     ...        ...     ...        ...     ...        ...
361  2019/12/28     7.9        0.0     4.6        0.0    -6.4        0.0
362  2019/12/29     8.2        0.0     5.3        0.0    -7.2        0.0
363  2019/12/30     8.3        0.0     5.2        8.0    -0.6        9.5
364  2019/12/31     9.2        0.0     8.4        0.0    -0.4        2.0
365    2020/1/1     6.7        0.0     2.9        0.0    -5.4        0.0

[366 rows x 7 columns]

In [19]:
pd.read_excel('data.xlsx')

     都道府県コード 都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正      9   1920  2359183  1244322  1114861
1          2   青森県  大正      9   1920   756454   381293   375161
2          3   岩手県  大正      9   1920   845540   421069   424471
3          4   宮城県  大正      9   1920   961768   485309   476459
4          5   秋田県  大正      9   1920   898537   453682   444855
..       ...   ...  ..    ...    ...      ...      ...      ...
934       43   熊本県  平成     27   2015  1786170   841046   945124
935       44   大分県  平成     27   2015  1166338   551932   614406
936       45   宮崎県  平成     27   2015  1104069   519242   584827
937       46  鹿児島県  平成     27   2015  1648177   773061   875116
938       47   沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 8 columns]

In [20]:
pd.read_excel('data.xlsx', index_col = 0)

        都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県コード
1         北海道  大正      9   1920  2359183  1244322  1114861
2         青森県  大正      9   1920   756454   381293   375161
3         岩手県  大正      9   1920   845540   421069   424471
4         宮城県  大正      9   1920   961768   485309   476459
5         秋田県  大正      9   1920   898537   453682   444855
...       ...  ..    ...    ...      ...      ...      ...
43        熊本県  平成     27   2015  1786170   841046   945124
44        大分県  平成     27   2015  1166338   551932   614406
45        宮崎県  平成     27   2015  1104069   519242   584827
46       鹿児島県  平成     27   2015  1648177   773061   875116
47        沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 7 columns]

In [21]:
pd.read_excel('data.xlsx', index_col = '都道府県コード')

        都道府県名  元号  和暦（年）  西暦（年）   人口（総数）    人口（男）    人口（女）
都道府県コード
1         北海道  大正      9   1920  2359183  1244322  1114861
2         青森県  大正      9   1920   756454   381293   375161
3         岩手県  大正      9   1920   845540   421069   424471
4         宮城県  大正      9   1920   961768   485309   476459
5         秋田県  大正      9   1920   898537   453682   444855
...       ...  ..    ...    ...      ...      ...      ...
43        熊本県  平成     27   2015  1786170   841046   945124
44        大分県  平成     27   2015  1166338   551932   614406
45        宮崎県  平成     27   2015  1104069   519242   584827
46       鹿児島県  平成     27   2015  1648177   773061   875116
47        沖縄県  平成     27   2015  1433566   704619   728947

[939 rows x 7 columns]

In [22]:
df_excel = pd.read_excel('data03.xlsx')
df_excel

             地域       羽田        羽田.1       成田        成田.1       千歳        千歳.1
0           年月日  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)  平均気温(℃)  降水量の合計(mm)
1      2019/1/1      6.8           0        2           0     -4.7           0
2      2019/1/2      7.3           0      3.9           0     -6.9           0
3      2019/1/3      6.1           0      2.3           0     -7.4           0
4      2019/1/4      6.5           0      2.2           0     -2.6           0
..          ...      ...         ...      ...         ...      ...         ...
362  2019/12/28      7.9           0      4.6           0     -6.4           0
363  2019/12/29      8.2           0      5.3           0     -7.2           0
364  2019/12/30      8.3           0      5.2           8     -0.6         9.5
365  2019/12/31      9.2           0      8.4           0     -0.4           2
366    2020/1/1      6.7           0      2.9           0     -5.4           0

[367 rows x 7 columns]

In [23]:
df_excel = pd.read_excel('data03.xlsx', skiprows = 1, index_col = '年月日')
df_excel

,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2
年月日,,,,,,
2019/1/1,6.8,0.0,2.0,0.0,-4.7,0.0
2019/1/2,7.3,0.0,3.9,0.0,-6.9,0.0
2019/1/3,6.1,0.0,2.3,0.0,-7.4,0.0
2019/1/4,6.5,0.0,2.2,0.0,-2.6,0.0
2019/1/5,8.3,0.0,6.2,0.0,-3.3,4.5
...,...,...,...,...,...,...
2019/12/28,7.9,0.0,4.6,0.0,-6.4,0.0
2019/12/29,8.2,0.0,5.3,0.0,-7.2,0.0
2019/12/30,8.3,0.0,5.2,8.0,-0.6,9.5
2019/12/31,9.2,0.0,8.4,0.0,-0.4,2.0
2020/1/1,6.7,0.0,2.9,0.0,-5.4,0.0

In [24]:
type(df_excel.index)

pandas.core.indexes.base.Index

In [25]:
df_excel = pd.read_excel('data03.xlsx', skiprows = 1, index_col = '年月日', parse_dates = True)
df_excel

,平均気温(℃),降水量の合計(mm),平均気温(℃).1,降水量の合計(mm).1,平均気温(℃).2,降水量の合計(mm).2
年月日,,,,,,
2019-01-01,6.8,0.0,2.0,0.0,-4.7,0.0
2019-01-02,7.3,0.0,3.9,0.0,-6.9,0.0
2019-01-03,6.1,0.0,2.3,0.0,-7.4,0.0
2019-01-04,6.5,0.0,2.2,0.0,-2.6,0.0
2019-01-05,8.3,0.0,6.2,0.0,-3.3,4.5
...,...,...,...,...,...,...
2019-12-28,7.9,0.0,4.6,0.0,-6.4,0.0
2019-12-29,8.2,0.0,5.3,0.0,-7.2,0.0
2019-12-30,8.3,0.0,5.2,8.0,-0.6,9.5
2019-12-31,9.2,0.0,8.4,0.0,-0.4,2.0
2020-01-01,6.7,0.0,2.9,0.0,-5.4,0.0

In [26]:
type(df_excel.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
df_excel.to_excel('df_excel.xlsx')

In [28]:
df_cb = pd.read_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit https://pyperclip.readthedocs.org

In [ ]:
df_cb

In [ ]:
import sqlite3

In [ ]:
df_csv = pd.read_csv('data.csv',encoding = 'shift-jis')
df_csv

In [ ]:
dbname = 'TEST.db'
conn = sqlite3.connect(dbname)
conn.close()

In [ ]:
conn = sqlite3.connect(dbname)

df_csv.to_sql('test_table',conn,if_exists = 'replace')

conn.close()

In [ ]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql('SELECT * FROM test_table', conn)

conn.close()

In [ ]:
df_db

In [ ]:
sql = '''
select * 
from test_table
where 都道府県名 == "東京都"
'''

In [ ]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql(sql, conn)

conn.close()

In [ ]:
df_db

In [ ]:
conn = sqlite3.connect(dbname)

for i in range(1000):
    df_csv.to_sql('test_table_1000',conn,if_exists = 'append')

conn.close()

In [ ]:
sql = '''
select count(*) as cnt 
from test_table_1000
'''

In [ ]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql(sql, conn)

conn.close()

In [ ]:
df_db

In [ ]:
sql = '''
select * 
from test_table_1000
where 都道府県名 == "東京都" and 西暦（年） =="1920.0"
'''

In [ ]:
conn = sqlite3.connect(dbname)

df_db = pd.read_sql(sql, conn)

conn.close()

In [ ]:
df_db

In [ ]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis')

In [ ]:
df_csv.to_csv('df_data.csv', encoding = 'shift-jis')

In [ ]:
df_excel = pd.read_excel('data.xlsx')

In [ ]:
df_excel.to_excel('df_excel.xlsx')